Solution/Project.Website.ServiceAccess/Service References/ServiceIIS/IISService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Project.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Project.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfhost.arthurcv.com/IISService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Project.Entities" />
  <xs:complexType name="SearchReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Project.Entities" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfVehicle" />
      <xs:element minOccurs="0" name="PerPageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Search" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchReturn" nillable="true" type="tns:SearchReturn" />
</xs:schema>