Solution/Project.Website.ServiceAccess/Service References/ServiceIIS/IISService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfhost.arthurcv.com/IISService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Project.Contract" />
  <xs:import schemaLocation="http://wcfhost.arthurcv.com/IISService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
  <xs:import schemaLocation="http://wcfhost.arthurcv.com/IISService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Project.Entities" />
  <xs:element name="GetVehiclesByCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Project.Contract" minOccurs="0" name="condition" nillable="true" type="q1:SearchReturn" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="sortOrder" type="q2:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiclesByConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Project.Contract" minOccurs="0" name="GetVehiclesByConditionResult" nillable="true" type="q3:SearchReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Project.Entities" minOccurs="0" name="vehicle" nillable="true" type="q4:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Project.Entities" minOccurs="0" name="vehicle" nillable="true" type="q5:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Project.Entities" minOccurs="0" name="GetVehicleTypesResult" nillable="true" type="q6:ArrayOfVehicleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>